<h1>Sample Usage</h1>

<%= image_tag unsplash_image_url(size: '300x200') %>
<%= image_tag unsplash_image_url(size: '300x200', tags: 'cat, dog') %>
<%= image_tag unsplash_image_url(size: '300x200', tags: 'car') %>
<%= image_tag unsplash_image_url(size: '300x200', tags: 'blog post') %>

<br>

<%= image_tag unsplash_image_url(size: '1200x90', tags: 'gradient') %>

<br>

<%= image_tag unsplash_image_url(size: '200x200', tags: 'nature') %>
<%= image_tag unsplash_image_url(size: '1000x200', tags: 'nature') %>
